<div id="cycleboard" data-ng-controller="cycleboardController">
    <table>
        <thead>
            <tr>
                <td class="text-center">
                    <strong>{{cycleboard.cycleTime}} ({{cycleboard.cycleTimeAverage}})</strong>
                </td>
                <td>
                    <div class="pull-left text-center" data-ng-repeat="cycleDate in cycleboard.cycleDates" data-ng-style="cycleboard.style"><strong>{{cycleDate.format("ddd Do")}}</strong></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="story in cycleboard.stories | stateFilter:{'exclude': ['Done']}" data-ng-repeat-done="popover()">
                <td>
                    <story data-content="{{story.cycleTime}} ({{story.cycleTimeAverage}})"></story>
                </td>
                <td>
                    <div data-ng-class="story.classification" data-ng-style="story.style">
                        <div class="task text-center" title="{{task.key}}" data-content="{{task.name}} ({{task.assignee || '?'}})" data-ng-class="task.classification" data-ng-repeat="task in story.tasks" data-ng-style="task.style">
                            <small>
                                <span class="badge">{{task.state}}</span>
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-repeat="story in cycleboard.stories | stateFilter:{'include': ['Done']}" data-ng-repeat-done="popover()">
                <td>
                    <story  data-content="{{story.cycleTime}} ({{story.cycleTimeAverage}})"></story>
                </td>
                <td>
                    <div data-ng-style="story.style">
                        <div class="task text-center" title="{{task.key}}" data-content="{{task.name}} ({{task.assignee || '?'}})" data-ng-class="task.classification" data-ng-repeat="task in story.tasks" data-ng-style="task.style">
                            <small>
                                <span class="badge">{{task.state}}</span>
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
