<div id="cycleboard" data-ng-controller="cycleboardController">
    <table>
        <thead>
            <tr>
                <td class="text-center">
                    <strong>{{cycleboard.cycleTime}} ({{cycleboard.cycleTimeAverage}})</strong>
                </td>
                <td>
                    <div class="pull-left text-center" data-ng-repeat="cycleDate in cycleboard.cycleDates" data-ng-style="cycleboard.style"><strong>{{cycleDate.format("ddd Do")}}</strong></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="issue in cycleboard.issues | stateFilter:{'exclude': ['Closed']}" data-ng-repeat-done="popover()">
                <td>
                    <issue data-content="{{issue.cycleTime}} ({{issue.cycleTimeAverage}})"></issue>
                </td>
                <td>
                    <div data-ng-class="issue.classification" data-ng-style="issue.style">
                        <div class="subtask text-center" data-content="{{subtask.popover}}" data-ng-class="subtask.classification" data-ng-repeat="subtask in issue.subtasks" data-ng-style="subtask.style">
                            <small>
                                <span class="badge" data-ng-click="toggleState(subtask.state)">{{subtask.state}}</span>
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            <tr data-ng-repeat="issue in cycleboard.issues | stateFilter:{'include': ['Closed']}" data-ng-repeat-done="popover()">
                <td>
                    <issue data-content="{{issue.cycleTime}} ({{issue.cycleTimeAverage}})"></issue>
                </td>
                <td>
                    <div data-ng-style="issue.style">
                        <div class="subtask text-center" data-content="{{subtask.popover}}" data-ng-class="subtask.classification" data-ng-repeat="subtask in issue.subtasks" data-ng-style="subtask.style">
                            <small>
                                <span class="badge" data-ng-click="toggleState(subtask.state)">{{subtask.state}}</span>
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
