<div id="dashboard" class="container-fluid" data-ng-controller="dashboardController">
    <div class="row">
        <div class="col-lg-6">
            <h4>Sprint Burn</h4>
            <div class="sprint-burn"></div>
        </div>
        <div class="col-lg-6">
            <h4>Backlog Burn</h4>
            <div class="backlog-burn"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>Task Burn</h4>
            <div class="task-burn">
                <div class="emoticon sad"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Task Flow</h4>
            <div class="task-flow"></div>
        </div>
        <div class="col-lg-4">
            <h4>Task Work</h4>
            <div class="task-work">
                <div class="emoticon happy"></div>
            </div>
        </div>
    </div>
</div>
