<div id="releaseboard" data-ng-controller="releaseboardController">
    <table>
        <tbody>
        <tr>
            <td data-ng-class="{'overallocated':sprint.overallocated, 'underallocated':sprint.underallocated}" data-ng-repeat="sprint in releaseboard">
                <div><strong>Sprint +{{$index + 1}}</strong></div>
                <div>
                    <small>{{sprint.start}} to {{sprint.end}} ({{sprint.points}}sp)
                    </small>
                </div>
                <issue data-ng-repeat="issue in sprint.issues"></issue>
            </td>
        </tr>
        </tbody>
    </table>
</div>
